
:root{
  --darkbg:#1B2430;
  --lightbg:#defabb;
}

body.light{

    --background-color: var(--lightbg);
    --text-color:black;
    --border:#a7e25f;
    --card:#a7e25f;
    --bgimg:url("../../assets/moon-svgrepo-com.svg");
    --loadingShadow: #a83cfa;
}

body.dark{

    --background-color: var(--darkbg);
    --text-color:white;
    --border:#502f69;
    --card:#382447;
    --bgimg:url("../../assets/sun-svgrepo-com.svg");
    --loadingShadow:#11f86e;
}


.themechange{
    width: 2rem;
    height: 3rem;
    position: absolute;
    top: 3%;
    right: 3%;

    &__btnwrapper{
        width: 80%;
        height: 100%;
        position: relative;
        
        & button{
            left: -1.2rem;
            position: absolute;
        }
    }
}

.pagewrapper{
    width: 100wr;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    transition: all 1s ease-in;
    position: relative;
    z-index: 1;

    & #title {
        position: absolute;
        top: 3%;
        color: var(--text-color);
        cursor: default;
    }

}
.pagewrapper-dark{
    width: 100wr;
    height: 100vh;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

}

.goback{
    width: 50px;
    height: 50px;
    background-image: url('../../assets/up-arrow-svgrepo-com.svg');
    background-position: "";
    position: absolute;
    top: 3%;
    left: 3%;
    cursor: pointer;

}

.artist-card{
    z-index: 12;
    cursor:pointer;
}
@media screen and (min-width:3000px) {
   
    .themechange{
        transform: scale(3);
        transform-origin: top;
    }

    .goback{
        transform: scale(3);
        transform-origin: top;
    }
}
@media screen and (max-width: 1024px) {

    .themechange{
        transform: scale(0.75);
        transform-origin: top;
    }

    .goback{
        transform: scale(0.70);
        transform-origin: top;
    }

    #title{
        font-size: 20px;
    }

}