

.artists-wrapper{
    width: 30%;
    height: min(50rem, 70vh);
    border: 3px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    box-shadow: 0 0  10px 3px var(--border);


}

.artists-section{
  width: 90%;
  height: 90%;
  overflow: auto;
  display: grid;
  gap: 2rem;
  padding: 1rem;
 
}




@media screen and (max-width: 1200px) {

    .artists-wrapper{
        width: 80%!important;
        height: 75%;
        zoom: 0.5;
    }
    
}