.artistpage-wrapper__inner{

    &__artistcard{
        width: 100%;
            height: 30%;
            display: flex;
            border-radius: 14px;
            border: 3px solid var(--border);
            color: var(--text-color);
            margin-bottom: 2rem;
            align-items: center;
            padding: 2rem 2rem;
            box-shadow: 0 0  10px 1px var(--border);
            
            
            &__img{

                width: max-content;
                height: 100%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                
                & img{
                    height: 100%;
                }
                
            }
            
            &__title{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 2rem;
                
            }
        }
    }