.notfound{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    height: 60%;
    justify-content: space-between;
}


@media screen and (max-width: 1024px) {
    .notfound{
        font-size: 10px;
        transform: scale(0.7);
    }
}