.loading-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo{
        animation: glow 0.5s infinite alternate;
    }
    
}

@keyframes glow {
    from {
        filter:drop-shadow(0 0 -10px var(--loadingShadow));
    }
    to {
        filter:drop-shadow(0 0 10px var(--loadingShadow));

    }
  }

@media screen and (max-width:1024px) {
    .loading-wrapper{
        &__logo{

            transform: scale(0.7);
            transform-origin: center;
        }
    }
}