
.artist{

    width: 100%;
    height: 8rem;
    display: flex;
    border-radius: 15px;
    background-color: red;
    background-color: var(--card);
    box-shadow: 0 0 15px -5px #2254E6;
    position: relative;
    justify-content: flex-start;
    color: var(--text-color);
    margin-bottom: 1rem;
    box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.9);
    cursor: pointer!important;
   &:hover{

    .rgb::after{
        display: block;
    }
    
   }
   
    &__info{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,8rem);

        &__img{
            width: max-content;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;

            & img{
                height: 90px;
                width: 90px;
            }

        }

        &__title{
            width: max-content;
            max-width: 200%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

           & p{
            height: max-content;
           }
        }
    }

    &__stats{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        padding: 0 2rem;
        
    }
}

.tilt{
    transform-style: preserve-3d;

}
// RGB Animation
.rgb::after {
    display: none;
    content: "";
    background: linear-gradient(-45deg,
            #ef00fa 0%,
            #fc2c71 10%,
            #fdd0af 20%,
            #ffc000 30%,
            #ffe400 40%,
            #c7ff00 50%,
            #00ecff 60%,
            #00ffd7 70%,
            #f000ff 80%,
            #e604ee 90%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -4px;
    filter: blur(8px);
    border-radius: 16px;
    z-index: -1;
    animation: rgb 8s linear infinite;
}

@keyframes rgb {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    10% {
        background-position: 0% 50%;
    }
}